dev{
    border: 3px solid darkred;
}

h1{
    font-size: 50px;
    text-align: center;

}
.headline{
    display: flex;
    margin: auto;
    width: 100%;
    height: 80vh;
    
}
.headline1{
    width: 50%;
}
.headline2{
    width: 50%;
}